language: php
php:
  - 5.6

install:
  - composer self-update
  - composer install

before_script:
  - php app/console doctrine:database:drop --force
  - php app/console doctrine:database:create
  - php app/console doctrine:schema:create
  - php app/console hautelook_alice:doctrine:fixtures:load --no-debug -n
  - php app/console students:generate:paths

script:
  - phpunit

after_success:
  - ./bin/phpcs --standard=psr2 src
  - ./bin/phpmd src text cleancode,codesize,controversial,design,naming,unusedcode
  - ./bin/phpcpd src
